@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff ttf) {
    $src: null;
    $src: append($src, local(quote($name)), comma);

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $ext)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@include font-face("Inconsolata-g", "../fonts/Inconsolata-g", null, null, woff);
@include font-face("EB Garamond", "../fonts/EB_Garamond", null, normal, woff);
@include font-face("EB Garamond", "../fonts/EB_Garamond-Italic", null, italic, woff);