// Loads the appropriate fonts
//
// For typography, look at _type.scss

@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff ttf) {
    $src: null;
    $src: append($src, local(quote($name)), comma);

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $ext)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,500);
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
