main > header {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0.5 * $spacer;
    margin-bottom: $spacer-y;
    padding: 0.5 * $spacer;
    border: $gray;
    background: $brand-primary-dark;
    @include shadow(1);

    @media screen and (min-width: map_get($grid-breakpoints, md)) {
        margin: $spacer;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

}

.aggregate-list {
    padding-top: $spacer-y;
    list-style-type: none;
    padding-left: 0;

    a {
        font-size: $font-size-lg;
        font-weight: 700;
        padding-right: $spacer-x;
    }
}