// Base Typography
//

// Use a vertical bar to the left to indicate block quotes.
blockquote {
  padding: ($spacer / 2) $spacer;
  margin-bottom: $spacer;
  border-left: .25rem solid $primary;
}

// No underline for links
a {
    &:hover {
        text-decoration: none;
    }
}

// Use normal font as main body font is light.
b,
strong {
    font-weight: normal;
    font-family: $headings-font-family;
}
