// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//
// Grayscale and brand colors for use across Bootstrap.

$primary:                   #D43400;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:    "Roboto Light", sans-serif;
$font-family-monospace:     "Inconsolata-g", monospace;
$font-family-base:          $font-family-sans-serif;

$headings-font-family:      "Roboto", sans-serif;
$headings-font-weight:      400;

$font-size-xs:              .75rem;

// Code

$code-color:                gray("900");

// Breadcrumbs

$breadcrumb-bg:             none;
