// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #D43400;
$brand-primary-dark:        darken($brand-primary, 7%);
$brand-primary-darker:      darken($brand-primary, 14%);
$brand-primary-light:       lighten($brand-primary, 7%);
$brand-primary-lighter:     lighten($brand-primary, 14%);
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-grid-classes:       true;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     "Roboto", sans-serif;
$font-family-serif:          "EB Garamond", serif;
$font-family-monospace:      "Inconsolata-g", monospace;
$font-family-base:           $font-family-sans-serif;

// Breadcrumbs

$breadcrumb-bg:                 none;
