[submodule "output"]
	path = output
	url = https://github.com/JP-Ellis/jp-ellis.github.io.git
	branch = master
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "projects/tikz-feynman"]
	path = content/pages/projects/tikz-feynman
	url = https://github.com/JP-Ellis/tikz-feynman.git
	branch = gh-pages
[submodule "projects/simpler-wick"]
	path = content/pages/projects/simpler-wick
	url = https://github.com/JP-Ellis/simpler-wick.git
	branch = gh-pages
[submodule "projects/rust-skiplist"]
	path = content/pages/projects/rust-skiplist
	url = https://github.com/JP-Ellis/rust-skiplist.git
	branch = pages
[submodule "themes/jp-ellis"]
	path = themes/jp-ellis
	url = https://github.com/JP-Ellis/jp-ellis.github.io.git
	branch = theme