<!-- icons and bar theme -->
<meta name="theme-color" content="#D43400">
<link id="favicon" rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-16.png" sizes="16x16">
<link id="favicon" rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-32.png" sizes="32x32">
<link id="favicon" rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-64.png" sizes="64x64">
<link id="favicon" rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-128.png" sizes="128x128">
<link id="favicon" rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-256.png" sizes="256x256">
