<a href="{{ SITEURL }}">
  {% if SITELOGO %}
  <img src="{{ SITELOGO }}" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
  {% else %}
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
  {% endif %}
</a>
<h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>
<p>{{ SITESUBTITLE }}</p>
<nav>
  <ul class="pages">
    {% for page in pages|sort(attribute='title') %}
    {% if page.onmenu %}
    <li><a href="{{ SITEURL }}/{{ page.url }}#{{ page.slug }}">{{ page.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for name, link in LINKS %}
    <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
    {% endfor %}
  </ul>
</nav>
<ul class="social">
  {% for name, link in SOCIAL %}
  <li><a class="{{ name|lower }}" href="{{ link }}" target="_blank"><i>{{ name }}</i></a></li>
  {% endfor %}
</ul>
<ul class="feeds">
  {% if FEED_ALL_ATOM %}
  <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom</a>
  {% endif %}
  {% if FEED_ALL_RSS %}
  <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a>
  {% endif %}
  <a href="{{ SITEURL }}/sitemap.xml">Sitemap</a>
</ul>
