{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}">
{% include "includes/open-graph-article.html" %}
{% endblock %}

{% block title %}{{ article.title }} &ndash; {% endblock %}

{% block breadcrumbs %}
<li class="inter"><a href="{{ SITEURL }}/{{ article.date|strftime('%Y') }}/">{{ article.date|strftime('%Y') }}</a></li>
<li class="inter"><a href="{{ SITEURL }}/{{ article.date|strftime('%Y') }}/{{ article.date|strftime('%m') }}/">{{ article.date|strftime('%B') }}</a></li>
<li class="active">{{ article.title }}</li>
{% endblock %}

{% block content %}
{% include "includes/article.html" %}
{% endblock %}

{% block additional_js %}
{% include "includes/jsonld-article.html" %}
{% endblock %}
