{% extends "base.html" %}
{% block title %}{{ page.title }} &ndash; {% endblock %}

{% block meta %}
<meta name="author" content="{{ page.author.name }}" />
<meta name="description" content="{{ page.summary|striptags }}" />
<meta name="keywords" content="{{ page.tags|join(', ') }}">
{% include "includes/open-graph-page.html" %}
{% endblock %}

{% block breadcrumbs %}
{% for parent in page.parents %}
<li class="inter"><a href="{{ SITEURL }}/{{ parent.url }}">{{ parent.title }}</a></li>
{% endfor %}
<li class="active">{{ page.title }}</li>
{% endblock %}

{% block content %}
{% include "includes/page.html" %}

{% for child in page.children|sort(attribute='date')|sort(attribute='sort') %}
{% if page.slug != child.slug %}
{% with page=child %}
{% include "includes/page-summary.html" %}
{% endwith %}
{% endif %}
{% endfor %}
{% endblock %}

{% block additional_js %}
{% with article=page %}
{% include "includes/jsonld-article.html" %}
{% endwidth %}
{% endblock %}
