{% extends "base.html" %}
{% block title %}{{ page.title }} &ndash; {% endblock %}

{% block breadcrumbs %}
{% for parent in page.parents %}
<li class="inter"><a href="{{ SITEURL }}/{{ parent.url }}">{{ parent.title }}</a></li>
{% endfor %}
<li class="active">{{ page.title }}</li>
{% endblock %}

{% block content %}
{% include "includes/page.html" %}

{% for child in page.children %}
{% if page.slug != child.slug %}
{% with page=child %}
{% include "includes/page-summary.html" %}
{% endwith %}
{% endif %}
{% endfor %}
{% endblock %}
